* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Sans-serif;
  background-color: #333;
  font-size: 10px;
  max-height: 300vh;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#taskList {
  min-height: 70vh;
  width: 100vw;
  max-width: 600px;
  max-height: 100vh;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 5px 10px grey;
          box-shadow: 0 5px 10px grey;
  border-radius: 10px;
  overflow-y: scroll;
}

#taskList #addTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#taskList #addTask h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 300;
}

#taskList #addTask input {
  width: 90%;
  height: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#taskList #addTask input:focus {
  outline: none;
}

#taskList #addTask button {
  background-color: #4786ec;
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 1.4em;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#taskList #addTask button:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

#taskList #toDo {
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
  width: 100%;
}

#taskList #toDo h2 {
  color: #000000dc;
  font-weight: 500;
}

#taskList #toDo input {
  width: 90%;
  height: 40px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

#taskList #toDo input:focus {
  outline: none;
}

#taskList #toDo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  margin: 0px 10px 10px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: height .5s;
  transition: height .5s;
}

#taskList #toDo li p {
  margin-left: 10px;
  color: #000000b4;
}

#taskList #toDo li i {
  font-size: 1.4em;
  margin-right: 10px;
  color: #4786ec;
  opacity: .8;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#taskList #toDo li i:hover {
  color: #4786ec;
  cursor: pointer;
  opacity: 1;
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

#popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 130px;
  width: 220px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px grey;
          box-shadow: 0px 5px 10px grey;
  display: none;
}

#popUp h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
}

#popUp button {
  background-color: #4786ec;
  color: #fff;
  border: none;
  height: 34px;
  width: 80px;
  cursor: pointer;
  font-size: 1.4em;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 2px;
  margin-right: 2px;
}

#popUp button:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}
/*# sourceMappingURL=style.css.map */